* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1d1c1c;
  color: whitesmoke
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: larger;
}

#part2 {
  display: flex;
  gap: 50px;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;

}
