* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #1d1c1c;
  color: whitesmoke;
}

#page1 {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page2 {
  width: 100%;
  height: 100%;
  background-color: salmon;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page3 {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

#box {
  height: 300px;
  width: 300px;
  background-color: crimson;
}
